body {
    width: 60%;
    margin: 10px auto 0;
    //font-family: "Helvetica Neue", Arial, Meiryo, sans-serif;
    font-family: Arial, Verdana, sans-serif;
    word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-weight: normal;
}

a {
    color: @base;
    text-decoration: none;
}

.backquote {
    color: @backquote;
    font-size: 600%;
    position: absolute;
    font-family: serif
}

blockquote:before {
    .backquote;
    content: "“";
    top: 0;
    left: 0;
    line-height: 1em;
}

blockquote:after {
    .backquote;
    font-family: serif;
    content: "”";
    right: 0;
    bottom: 0;
    line-height: 0;
}

blockquote {
    background: @blockquote;
    position: relative;
    margin: 0.8em 0;
    padding: 20px 55px;
}

pre {
    background: @blockquote;
    padding: 10px 0;
    border: 1px solid @backquote;
    padding-left: 3px;
    white-space: pre-wrap;
}

.form {

    .title,
    .textarea {
        margin-top: 10px;
    }

    input#title,
    textarea {
        width: 100% !important;
    }
}

.clear {
    clear: both;
}

.sep {
    display: none;
}

.edit-today {
    margin-left: 5px;
}

.day {
    margin-bottom: 60px;
}

.day h2 {
    font-size: 100%;
    border-bottom: 1px solid @base;
    padding-bottom: 0.3em;
}

div.day div.tags {
    text-align: left;
    margin-top: 25px;
}

.grep {
    float: right;
    margin-top: 1em;
}

.main {
    margin: 30px 0;
}

.section {
    line-height: 1.7em;
    margin-bottom: 20px;
    font-size: 95%;
}

.section p {
    //font-family: Arial, Verdana, sans-serif;
}

.footer{
    margin-bottom: 20px;
}

.calendar {
    margin: 30px 0;
}

